<!-- <h3>Add Items to Your Shopping List</h3> -->

<!-- <p> What do you need to buy?</p>

<form action="/create" method="post">
  <input type="text" name="name" placeholder="Item to buy">
  <input type="text" name="quantity" placeholder="How many?">
  <input type="submit">Add to Shopping List</input>
</form> -->

<div class="container">

  <div class="form_background">
    <div id="add_item_form">
    <form class="form-signin" action="/create" method="post">
      <h2 id="add_item_heading" class="form-signin-heading">Add an Item:</h2>
      <label for="inputEmail" class="sr-only">Item</label>
      <input type="text" id="add_item_text" name="name" id="add_item" class="form-control" placeholder="Item" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="ptext" id="add_item_quantity_text" name="quantity" id="inputPassword" class="form-control" placeholder="Quantity" required>
    <!-- <button id="add_button" class="btn btn-lg btn-primary btn-block" type="submit">Add Item</button> -->
    <button id="add_button" class="btn btn-lg btn-block" type="submit">Add Item</button>
      <!-- </div> -->
    <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
    </form>
  </div>
  </div>


</div> <!-- /container -->
