<h3>Add Items to Your Shopping List</h3>

<p> What do you need to buy?</p>

<form action="/create" method="post">
  <input type="text" name="name" placeholder="Item to buy">
  <input type="text" name="quantity" placeholder="How many?">
  <input type="submit">Add to Shopping List</input>
</form>
