<!-- <div id="not_authorized_page">
<div class="container-fluid">
<div class="jumbotron" id="jumbo">
  <h1>Join Shopping List!</h1>
  <p>Create, save and edit shopping lists online.</p>
  <p><a class="btn btn-primary btn-lg" href="/account/register" role="button">Create an Account</a></p>
  <p><a class="btn btn-primary btn-lg" href="/account/login" role="button">Login</a></p> -->
  <div class="jumbotron" id="jumbo">
  <!-- <div id="not_authorized_page"> -->
  <div class="container-fluid">
      <!-- <div class="jumbotron" id="jumbo"> -->
    <h1 id="jumbo_headline">Join Shopping List!</h1>
    <p id="jumbo_text">Create, save and edit shopping lists online.</p>
    <p><a class="btn btn-lg" id="jumbo_button_a" href="/account/register" role="button">Create an Account</a></p>
    <p><a class="btn btn-lg" id="jumbo_button_b" href="/account/login" role="button">Login</a></p>

</div>
</div>
<!-- </div> -->

<!-- <p>You need to be logged to view this resource!<p> -->
<!-- <form action="/account/register">
    <input type="submit" name="name" value="Create Account">
</form>

<form action="/account/login">
  <input type="submit" name="name" value="Login">
</form> -->
