<p>You need to be logged to view this resource!<p>

<form action="/account/register">
    <input type="submit" name="name" value="Create Account">
</form>

<form action="/account/login">
  <input type="submit" name="name" value="Login">
</form>
