<!-- <h1>Join!</h1>
    <form class="" action="/account/register" method="post">
      <input type="text" name="user_name" placeholder="Name">
      <input type="text" name="user_email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="text" name="name" placeholder="Confirm Password">

    </form>  -->
 <!-- -->

    <div class="container">

      <div class="form_background">
        <div id="register_form">
        <form class="form-signin" action="/account/register" method="post">
          <h2 class="form-signin-heading">Sign Up</h2>
          <label for="user_name" class="sr-only">Item</label>
          <input type="text" id="register_username_text" name="user_name" class="form-control" placeholder="Username" required autofocus>
          <label for="user_password" class="sr-only">Password</label>
          <input type="text" id="register_email" name="user_email" class="form-control" placeholder="Email" required>
          <label for="user_password" class="sr-only">Password</label>
          <input type="password" id="register_password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add Item</button>
          <!-- </div> -->
        <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
        </form>
      </div>
      </div>


    </div> <!-- /container -->
