<h1>Join!</h1>
    <form class="" action="/account/register" method="post">
      <input type="text" name="user_name" placeholder="Name">
      <input type="text" name="user_email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <!-- <input type="text" name="name" placeholder="Confirm Password"> -->
      <input type="submit" value="Join">
    </form>
