body {
  background-color: rgb(212, 175, 106);
  color: rgb(96, 132, 172);
}

#jumbo{
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

#update_item_form {
  margin-top: 100px;
}

#login_form {
  margin-top: 100px;
}

#add_item_form {
  margin-top: 100px;
}

.form_background {
    background-color: rgb(196, 205, 209);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
#item_to_edit{
  margin-bottom: 10px;
}

#add_item_text{
  margin-bottom: 10px;
}

#add_item_quantity_text{
    margin-bottom: 10px;
}

#edit_quantity_text{
  margin-bottom: 10px;
}

#delete_form {
  margin-top: 100px;
}
#input_email {
  margin-bottom: 10px;
}

#destroy_heading {
  margin-bottom: 20px;
}

#input_password {
  margin-bottom: 10px;
}
/*Login Page*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
